{% extends "layout.html" %}

{% block content %}
<div class="bg-gray-100 text-gray-900 font-sans">
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-6 sm:px-0">
      <h1 class="text-3xl font-bold text-center mb-8">IT Verfahren Stammdaten Formular</h1>
      <hr class="border-gray-300 my-8">
      <!--! form start-->
      <form action="{{ url_for('fachverfahren') }}" method="POST" class="max-w-3xl mx-auto">
        <div class="mb-6">
          <label class="block font-bold mb-2" for="it-verfahren-namen">
            Namen des IT Verfahrens:
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
            type="text" id="it-verfahren-namen" name="it-verfahren-namen" value='{{ name }}'>
        </div>

        <div class="mb-6 flex flex-wrap">
          <div class="w-full md:w-1/2 pr-4">
            <label class="block font-bold mb-2" for="verfahrens-id">
              Verfahrens-ID (wenn vorhanden):
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
              type="text" id="verfahrens-id" name="verfahrens-id" value="{{ verf_id }}">
          </div>

          <div class="w-full md:w-1/2 pl-4">
            <label class="block font-bold mb-2" for="verfahrens-tag">
              Verf.-Tag:
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
              type="text" id="verfahrens-tag" name="verfahrens-tag" value="{{ tag }}" ">

            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">
              Abschicken
            </button>
          </div>
        </div>

        <div class="mb-6">
          <label class="block font-bold mb-2" for="berichtstellungszeitpunkt">
            Berichtstellungszeitpunkt:
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
            type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt" value="{{ laufzeitverfahren }}" ">
        </div>

        <div class="mb-6">
          <label class="block font-bold mb-2" for="laufzeit">
            Laufzeit:
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
            type="text" id="laufzeit" name="laufzeit" value="{{ laufzeitverfahren }}"">
        </div>

        <hr class="border-gray-300 my-8">

        

        <div class="mb-6">
          <label class="block font-bold mb-2" for="beschreibung">
            Beschreibung:
          </label>
          <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
            id="beschreibung" name="beschreibung" rows="6"></textarea>
        </div>

        <div class="mb-6">
          <label class="block font-bold mb-2" for="betroffene-personen">
            Betroffene Personen:
          </label>
        </div>

        <div class="mb-6">
          <label class="block font-bold mb-2" for="massnahmen">
            Maßnahmen:
          </label>
          <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
            id="massnahmen" name="massnahmen" rows="6"></textarea>
        </div>

        <div class="mb-6">
          <label class="block font-bold mb-2" for="datum">
            Datum:
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline"
            id="datum" name="datum" type="date">
        </div>

        <div class="flex items-center justify-center">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Abschicken
          </button>
        </div>


        <p>{{test}}</p>
      </form>
      <!--! form end-->
      {% endblock %}