<style>
  table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Physisch/Virtuell/Container</th>
      <th>CPU/vCPU</th>
      <th>Ram/vRam</th>
      <th>Netzwerk</th>
      <th>Hochverfügbarkeit</th>
      <th>Speichertyp</th>
      <th>Speichermenge</th>
      <th>Betriebssystem</th>
      <th>Erreichbarkeit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Physisch 1</td>
      <td>4</td>
      <td>16 GB</td>
      <td>LAN</td>
      <td>Ja</td>
      <td>SSD</td>
      <td>500 GB</td>
      <td>Windows Server 2019</td>
      <td>Erreichbar</td>
    </tr>
    <tr>
      <td>Virtuell 1</td>
      <td>2</td>
      <td>8 GB</td>
      <td>WAN</td>
      <td>Nein</td>
      <td>HDD</td>
      <td>1000 GB</td>
      <td>Ubuntu 20.04</td>
      <td>Erreichbar</td>
    </tr>
    <tr>
      <td>Container 1</td>
      <td>1</td>
      <td>2 GB</td>
      <td>LAN</td>
      <td>Ja</td>
      <td>SSD</td>
      <td>250 GB</td>
      <td>Debian 10</td>
      <td>Nicht erreichbar</td>
    </tr>
    <tr>
      <td>Physisch 2</td>
      <td>8</td>
      <td>32 GB</td>
      <td>WAN</td>
      <td>Ja</td>
      <td>HDD</td>
      <td>2000 GB</td>
      <td>CentOS 8</td>
      <td>Erreichbar</td>
    </tr>
    <tr>
      <td>Virtuell 2</td>
      <td>4</td>
      <td>16 GB</td>
      <td>LAN</td>
      <td>Nein</td>
      <td>SSD</td>
      <td>500 GB</td>
      <td>Windows 10</td>
      <td>Erreichbar</td>
    </tr>
    <tr>
      <td>Container 2</td>
      <td>2</td>
      <td>4 GB</td>
      <td>WAN</td>
      <td>Nein</td>
      <td>HDD</td>
      <td>250 GB</td>
      <td>Ubuntu 18.04</td>
      <td>Nicht erreichbar</td>
    </tr>
    <tr>
      <td>Physisch 3</td>
      <td>16</td>
      <td>64 GB</td>
      <td>LAN</td>
      <td>Ja</td>
      <td>SS</td>
    </tr>
  </tbody>
</table>
