<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <!--! Navbar start-->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/fachverfahren">Fachverfahren</a></li>
        <li><a href="/server">Server</a></li>
        <li><a href="/datenbanken">Datenbanken</a></li>
        <li><a href="/stammdaten">Stammdaten</a></li>
        <li><a href="/komponenteServer">Komponenten Server</a></li>
      </ul>
    </nav>
    <!--! Navbar end-->
      {% block content %}
        <h1>Welcome to {{ title }}!</h1>
        <p>This is a basic HTML page with Jinja integration.</p>
        <ul>
      {% endblock %}
    </ul>
  </body>
</html>
