{% extends "layout.html" %} {% block content %}
<div class="font-sans text-gray-900 bg-gray-100">
    <div class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <h1 class="mb-8 text-3xl font-bold text-center">
                Server
            </h1>

            <hr class="my-8 border-gray-300" />

            <form action="{{ url_for('serverAnsehen') }}" method="POST" class="max-w-3xl mx-auto">
                <div class="flex flex-wrap">
                    <div class="w-full">
                        <label class="block mb-2 font-bold" for="name">
                            Server Name:
                        </label>
                    </div>
                    <div class="w-4/6 md:w-5/6">
                        <input class="w-full px-3 py-2 leading-tight
                            text-gray-900 border
                            rounded shadow appearance-none focus:outline-none
                            focus:shadow-outline" type="text" id="name" name="name" value="{{ name }}">
                    </div>

                    <div class=" pl-4 w-2/6 md:w-1/6">
                        <button class=" px-4 py-2 font-bold text-white
                            bg-blue-500 rounded hover:bg-blue-700
                            focus:outline-none
                            focus:shadow-outline" type="submit">
                            Abschicken
                        </button>
                    </div>
            </form>


        </div>
        <!--! form start-->
        <hr class="my-8 border-gray-300" />
        <form action="" method="POST" class="max-w-3xl mx-auto">
            <div class="mb-6">
                <label class="block mb-2 font-bold" for="it-verfahren-namen">
                    Name des Servers:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="it-verfahren-namen" name="it-verfahren-namen" value="{{ name }}" readonly
                    disabled />
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="verfahrens-id">
                    Server-ID:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="verfahrens-id" name="verfahrens-id" value="{{ server_id }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    Fachverfahren:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ fachverfahren }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    umgebung:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ umgebung }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    laufzeit_server:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ laufzeit_server }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    bereitstellungszeitpunkt:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ bereitstellungszeitpunkt }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    verwendungszweck:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ verwendungszweck }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    typ:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ typ }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    netzwerk:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ netzwerk }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    ram:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ ram }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    cpu:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ cpu }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    os:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ os }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    speichertyp:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ speichertyp }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    kapazität:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ kapazität }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    erreichbarkeit:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ erreichbarkeit }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    hochverfügbarkeit:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ hochverfügbarkeit }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    vertraulichkeit:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ vertraulichkeit }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    verfügbarkeit:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ verfügbarkeit }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    integrität:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ integrität }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    anmerkungen:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ anmerkungen }}" readonly disabled>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    zeitpunkt_ins:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ zeitpunkt_ins }}" readonly disabled>
            </div>

            <div class="mb-6 ">
                <label class="block mb-2 font-bold" for="laufzeit"> user_ins: </label>
                <div class="flex flex-wrap gap-4 w-full">
                    <input
                        class="flex-grow-2 px-3 py-2 leading-tight text-gray-900 borderrounded shadow appearance-none focus:outline-none focus:shadow-outline bg-gray-100 cursor-not-allowed"
                        type="text" id="verf_bet" name="verf_bet" value="{{user_ins}}" readonly disabled>
                    <input class="px-4 py-2 font-bold text-white bg-blue-500 rounded
                        hover:bg-blue-700 focus:outline-none focus:shadow-outline" type="submit" name="showUser"
                        value="User Info anzeigen" />
                </div>
            </div>

            <div class="mb-6">
                <label class="block mb-2 font-bold" for="berichtstellungszeitpunkt">
                    zeitpunkt_upd:
                </label>
                <input
                    class="w-full px-3 py-2 leading-tight text-gray-900 bg-gray-100 border rounded shadow appearance-none cursor-not-allowed focus:outline-none focus:shadow-outline"
                    type="text" id="berichtstellungszeitpunkt" name="berichtstellungszeitpunkt"
                    value="{{ zeitpunkt_upd }}" readonly disabled>
            </div>

            <div class="mb-6 ">
                <label class="block mb-2 font-bold" for="laufzeit"> user_upd: </label>
                <div class="flex flex-wrap gap-4 w-full">
                    <input
                        class="flex-grow-2 px-3 py-2 leading-tight text-gray-900 borderrounded shadow appearance-none focus:outline-none focus:shadow-outline bg-gray-100 cursor-not-allowed"
                        type="text" id="verf_bet" name="verf_bet" value="{{user_upd}}" readonly disabled>
                    <input class="px-4 py-2 font-bold text-white bg-blue-500 rounded
                        hover:bg-blue-700 focus:outline-none focus:shadow-outline" type="submit" name="showUser"
                        value="User Info anzeigen" />
                </div>
            </div>


            <hr class="my-8 border-gray-300 " />

        </form>
        <form action="{{ url_for('serverEditieren') }}" method="POST">
            <div class="flex items-center justify-center">
                <input class="hidden" type="text" id="name" name="name" value="{{ name }}">
                <button
                    class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
                    type="submit">
                    Editieren
                </button>
            </div>
        </form>
        <!--! form end-->
    </div>
</div>


<script>
    const showUserInfoBtn = document.querySelector(".show-user-info");

    showUserInfoBtn.addEventListener("mouseover", () => {
        showUserInfoBtn.classList.add("expanded");
        showUserInfoBtn.value = showUserInfoBtn.dataset.info;
    });

    showUserInfoBtn.addEventListener("mouseout", () => {
        showUserInfoBtn.classList.remove("expanded");
        setTimeout(() => {
            showUserInfoBtn.value = "...";
        }, 500);
    });
</script>

{% endblock %}